Data
Figures
Plots
Statistics
correlations.csv
merged_file_Hm0.csv
test.csv
train.csv
final_data.csv
location_distance2.csv
merged_file.csv
model_datasets
__pycache__/get_variables.cpython-39.pyc
__pycache__/Regression_working.cpython-39.pyc
plot.png
